page-authentification{
    .bottom{
        position: absolute;
        bottom: 5%;
        width: 90%;
    }

    ion-list.list.list-md {
        border-radius: 10%;
        background: white;
        margin: 20px;
    }

    .titreCentre{
        margin-top: 5%;
    }
}