<ion-content padding>
    <ion-row>
        <img src="assets/imgs/logo.png">
    </ion-row>
  
    <ion-card>
        <ion-row class="titreCentre" >
            <ion-col >
                <div *ngIf="pageMode=='login'"> Connexion </div>
                <div *ngIf="pageMode=='inscription'"> Inscription </div>
            </ion-col>
        </ion-row>
  
        <ion-card-content>
            <ion-list no-lines padding>
                <ion-item>
                    <ion-label floating>Nom d'utilisateur</ion-label>
                    <ion-input [(ngModel)]="user.pseudo" type="text"></ion-input>
                </ion-item>
                    
                <ion-item>
                    <ion-label floating>Mot de passe</ion-label>
                    <ion-input [(ngModel)]="user.mdp" type="password"></ion-input>
                </ion-item>

                <ion-item *ngIf="pageMode=='inscription'">
                    <ion-label floating>Confirmation du mot de passe</ion-label>
                    <ion-input [(ngModel)]="confirmationMDP" type="password"></ion-input>
                </ion-item>          
            </ion-list>

            <button *ngIf="pageMode=='login'" ion-button large round block (click) = "connexion()">Se connecter</button>
            <button *ngIf="pageMode=='inscription'" ion-button large round block (click) = "inscription()">S'inscrire</button>
        </ion-card-content>
    </ion-card>
      
    <button *ngIf="pageMode=='login'" ion-button large round block (tap)= "switchPageMode()">S'inscrire</button>
    <button *ngIf="pageMode=='inscription'" ion-button large round block (tap)= "switchPageMode()">Déjà inscrit ?</button>
</ion-content>
  