<ion-header>
  <ion-navbar>
    <ion-title>
      Discook
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="changePage('favoris')">
        <ion-icon name="heart"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button icon-only (click)="changePage('parametre')">
        <ion-icon name="settings"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngFor="let recette of recetteList">
    <ion-grid>
      <ion-row *ngIf="recetteList.indexOf(recette)%2 == 0">
        <ion-col col-6>
          <ion-card (tap)="onClickRecette(recette)">
            <img [src]="recette.image | safe:'url'">
            <p>{{recette.nom}}</p>
          </ion-card>
        </ion-col>
        <ion-col *ngIf="recetteList.indexOf(recette)+1<recetteList.length">
          <ion-card (tap)="onClickRecette(recetteList[recetteList.indexOf(recette)+1])">
            <img [src]="recetteList[recetteList.indexOf(recette)+1].image | safe:'url'">
            <p>{{ recetteList[recetteList.indexOf(recette)+1].nom }}</p>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <button (click)="test()">test</button>
</ion-content>
