//background color de l'appli
.scroll-content{
    background-color: color($colors,grisClairDiscook,base)
}

ion-icon{
    background-color: color($colors,grisFonceDiscook,base);
    color: color($colors,orangeDiscook,base);
}

.button{
    background-color: color($colors,grisFonceDiscook,base);
    color: color($colors,orangeDiscook,base);
    font-size: 100%;
}

.toolbar-background.toolbar-background-md{
    background-color: color($colors,grisFonceDiscook,base);
}

.toolbar-title.toolbar-title-md{
    color: color($colors,orangeDiscook,base);
    width: auto;
    margin: auto;
}

img{
    width: 30%;
    height: 30%;
    margin: auto;
}

.titreCentre{
    text-align: center;
    font-size: 150%;
}

.toolbar-title.toolbar-title-md{
    transform: translate(-30px);
}