//background color de l'appli
.scroll-content{
    background-color: color($colors,grisClairDiscook,base);
}

ion-icon{
    background-color: color($colors,grisFonceDiscook,base);
    color: color($colors,orangeDiscook,base);
}

ion-icon.contentIcon{
    background-color: transparent;
    color: black;
}

ion-icon.favIcon{
    background-color: transparent;
    color: color($colors,orangeDiscook,base)
}

.button{
    background-color: color($colors,grisFonceDiscook,base);
    color: color($colors,orangeDiscook,base);
    font-size: 100%;
    margin: auto;
}

.toolbar-background.toolbar-background-md{
    background-color: color($colors,grisFonceDiscook,base);
}

.toolbar-title.toolbar-title-md{
    color: color($colors,orangeDiscook,base);
    width: auto;
    margin: auto;
}

img{
    width: 30%;
    height: 30%;
    margin: auto;
}

.titreCentre{
    text-align: center;
    font-size: 150%;
}

.toolbar-title.toolbar-title-md{
    transform: translate(-30px);
}

ion-card.card.card-md{
    background-color: transparent;
    border-radius: 10%;
}

.card-md p{
    text-align: center;
}
